Repository furkan-ucan/bpm-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @backend-team, @security-team, @docs-team, @devops-team, @database-team

ci: optimize GitHub Actions workflows
  .github/workflows/ci-cd.yml
  .github/workflows/main.yml
  backend/package.json
  backend/tests/unit/process.service.test.ts
  backend/vitest.config.ts
Owners: @devops-team, @backend-team

chore: add type-check script to package.json
  backend/package.json
Owners: @devops-team

----
  backend/core/bpmn/engine/bpmn-engine.ts
  backend/core/bpmn/types/process.types.ts
  backend/core/constants/error-messages.ts
  backend/eslint.config.js
  backend/features/auth/controllers/auth.controller.ts
  backend/features/auth/middleware/auth.middleware.ts
  backend/features/auth/routes/auth.routes.ts
  backend/features/processes/models/process.model.ts
  backend/features/processes/services/process.service.ts
  backend/features/processes/types/process.types.ts
  backend/features/tasks/controllers/task.controller.ts
  backend/package-lock.json
  backend/package.json
  backend/security/config/security.config.ts
  backend/shared/errors/error-codes.ts
  backend/shared/errors/types/app-error.ts
  backend/shared/types/request.types.ts
  backend/shared/utils/logger.ts
  backend/tests/customMatchers.ts
  backend/tests/helpers/process.fixtures.ts
  backend/tests/setup.test.ts
  backend/tests/unit/process.service.test.ts
  package-lock.json
  package.json
Owners: @backend-team, @devops-team, @security-team

feat: enhance error handling and add new error codes; update Redis configuration and improve BPMN process handling
  backend/config/env.ts
  backend/core/bpmn/engine/bpmn-engine.ts
  backend/core/bpmn/parsers/bpmn-parser.ts
  backend/core/bpmn/types/process.types.ts
  backend/features/processes/services/process.service.ts
  backend/features/tasks/routes/task.routes.ts
  backend/infrastructure/cache/providers/redis.cache.ts
  backend/package-lock.json
  backend/package.json
  backend/security/cors/cors.config.ts
  backend/security/rate-limiting/rate-limiter.middleware.ts
  backend/shared/errors/types/app-error.ts
  backend/shared/errors/types/error-codes.ts
  backend/shared/errors/types/validation-error.ts
  backend/tests/unit/process.service.test.ts
  backend/tests/unit/process.utils.test.ts
  backend/tsconfig.json
  backend/vitest.config.ts
Owners: @backend-team, @devops-team, @security-team

feat(test): Add process test fixtures
  backend/api/app.ts
  backend/core/bpmn/types/instance.types.ts
  backend/core/bpmn/types/process.types.ts
  backend/features/processes/mappers/process.mapper.ts
  backend/features/processes/models/process.model.ts
  backend/features/processes/services/process.service.ts
  backend/features/processes/types/process.types.ts
  backend/features/processes/validators/process.validator.ts
  backend/infrastructure/database/mongodb/repositories/ProcessRepository.ts
  backend/shared/constants/error-messages.ts
  backend/shared/errors/handlers/domain-error.handler.ts
  backend/shared/errors/handlers/error-handler.ts
  backend/shared/errors/handlers/global-error.handler.ts
  backend/shared/errors/types/app-error.ts
  backend/shared/errors/types/error-codes.ts
  backend/shared/interfaces/repositories/IProcessRepository.ts
  backend/shared/middlewares/error-handler.middleware.ts
  backend/shared/types/dtos/process.dto.ts
  backend/tests/helpers/process.fixtures.ts
  backend/tests/unit/process.service.test.ts
Owners: @backend-team

ci: update CI/CD workflow for improved readability and consistency
  .github/workflows/ci-cd.yml
Owners: @devops-team

style: format code for consistency and readability in workflow and service files
  .github/workflows/main.yml
  backend/features/processes/services/process.service.ts
  backend/package.json
  backend/tests/unit/process.service.test.ts
Owners: @devops-team, @backend-team

refactor: remove deprecated error message constants and enhance error handling structure
  backend/core/constants/error-messages.ts
  backend/features/auth/controllers/auth.controller.ts
  backend/features/processes/controllers/process.controller.ts
  backend/features/processes/errors/messages.ts
  backend/features/processes/errors/process.errors.ts
  backend/features/processes/mappers/process.mapper.ts
  backend/features/processes/models/process.model.ts
  backend/features/processes/services/process.service.ts
  backend/features/processes/types/process.types.ts
  backend/features/processes/utils/process.utils.ts
  backend/features/processes/validators/process.validator.ts
  backend/monitoring/logging/providers/winston.logger.ts
  backend/shared/constants/error-messages.ts
  backend/shared/errors/base/app-error.ts
  backend/shared/errors/base/base-error.ts
  backend/shared/errors/codes/error-codes.ts
  backend/shared/errors/common/authentication.error.ts
  backend/shared/errors/common/authorization.error.ts
  backend/shared/errors/common/business.error.ts
  backend/shared/errors/common/not-found.error.ts
  backend/shared/errors/common/technical.error.ts
  backend/shared/errors/common/validation.error.ts
  backend/shared/errors/context/error-context.ts
  backend/shared/errors/handlers/error-handler.ts
  backend/shared/errors/recovery/error-recovery.ts
  backend/shared/monitoring/metrics/error-metrics.ts
  backend/tests/helpers/process.fixtures.ts
  backend/tests/unit/process.service.test.ts
  backend/tests/unit/process.utils.test.ts
Owners: @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
* @project-admin

# Backend code
/backend/ @backend-team
/backend/security/ @security-team

# Documentation
/docs/ @docs-team

# Configuration files
*.json @devops-team
*.yml @devops-team
*.yaml @devops-team

# Security-related files
/backend/security/ @security-team
SECURITY.md @security-team

# Database
/backend/database/ @database-team

# Frontend code (when added)
# /frontend/ @frontend-team
